body
{
    border:3px solid black;
    height: 100vh;
    padding: 10px;
}

header
{
    border: 3px solid black;
    height: 50px;
    padding: 5px;
}

header div
{
    border: 2px solid black;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.company-logo
{
    border: 1px solid red;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
}

.company-logo a
{
    border: 1px solid green;
    width: inherit;
    display: flex;
    justify-content: center;
}

.company-logo span
{
    text-align: center;
}

#nav-links
{
    width: 400px;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#nav-links a
{
    border: 1px solid red;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main
{
    border: 3px solid black;
    height: inherit;
    margin-top: 10px;
    padding: 5px;
}

main section
{
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
}

#banner div
{
    border: 1px solid black;
    width: 20%;
    height: 150px;
    padding: 10px;
    justify-items: center;
}

#banner div h1
{
    border: 1px solid blue;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 4px;
}

#banner div p
{
    border: 1px solid purple;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 4px;
}

#banner div button
{
    border: 1px solid orange;
    justify-items: center;
    font-size: larger;
    font-weight: bolder;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
}

#banner div div
{
    border: 1px solid black;
    width: 1000px;
    height: 1000px;
    justify-content: center;
    justify-items: center;
    padding: 10px;  
}

#banner div div h1
{
    border: 1px solid blue;
    padding: 5px;
    width: 100px;
    justify-self: center;
    display: flex;
    align-items: center;
}

#banner div div div
{
    border: 1px solid black;
    width: 95%;
    height: 100px;
    justify-content: center;
    justify-items: center;
    display: block;
    padding: 10px;
}

#group
{
    border: 1px solid black;
    padding: 10px;
    width: 50px;
    height: 150px;
}

#group img
{
    border: 1px solid green;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 10px;
}

#group p
{
    border: 1px solid blue;
    width: 250px;
    height: 50px;
    display: flex;
    padding: 10px;
}

#group h2
{
    border: 1px solid purple;
    width: 250px;
    height: 50px;
    display: flex;
    padding: 10px;
}